<div id = "infoAbout">
            <button id = "home" onclick = "reRoute()" class = "userClickStyle">Login with Discord</button><button id = "logout" onclick = "logOut()" class = "userClickStyle">Logout</button><h2>League Of Legends In Depth</h2>

         </div>